<div class="container mt-2 mb-2">
  <div class="operatingsystem child">
    <span class="material-icons single-op border-right" (click)="onClickAndroid()" [ngStyle]="{'color':colorAndroid}">android</span>
    <span class="material-icons single-op" (click)="onClickApple()" [ngStyle]="{'color':colorIOS}">apple</span>
  </div>

  <div class="form-group child">
    <select class="form-control" 
            (change)="onChange($event)">
        <option *ngFor="let item of stringArray" [value]="item"  [selected]="item == 'US'">{{item}}</option>
    </select>
  </div>
  <mat-form-field class="child">
    <input matInput [matDatepicker]="picker" (dateChange)="onDateChange($event)" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker startAt="2023-01-26"></mat-datepicker>
  </mat-form-field>
</div>




